<ng-container *ngIf="gamesError$ | async; else okay">
  <span>Error...</span>
</ng-container>

<ng-template #okay>

  <ng-container *ngIf="gamesLoading$ | async; else data">
    <span>Loading...</span>
  </ng-container>

  <ng-template #data>
    <app-game-cards *ngIf="!isJackpotRoute" [games]="(gamesByCategory$ | async)!"></app-game-cards>
    <app-game-cards *ngIf="isJackpotRoute" [games]="(gamesWithJackpots$ | async)!" [jackpots]="(jackpots$ | async)!"></app-game-cards>
  </ng-template>

</ng-template>

